body{
    background-color: lightblue;
    font-size: 25px;
    width: 400px;
    height: 240px;
}
#timer{
    background: #fff;
    color: #000;
    width: 150px;
    margin: 50px auto;
    margin-left: center;
    margin-top: 20px;
    text-align: center;
}
.settings {
    background-color: transparent;
    max-width: 50%;
    max-height: 50%;
}